analyzed/
target/
build/
bin/
obj/
data/
local/
.cache/
venv/

/programs/clients/cpp/build/cpp_client
/programs/clients/cpp/build/CMakeCache.txt
/programs/clients/go/main
boost_1_82_0/

*.o
*.bak
*.lock
*.bin
*.ods

# Latex
*.aux
*.bcf
*.log
*.out
*.run.xml
*.toc
*.xmpdata
*.xmpi

/paper/
perf.data*
