target/
build/
data/
local/
.cache/
venv/

/programs/clients/cpp/build/cpp_client
/programs/clients/cpp/build/CMakeCache.txt
/programs/clients/go/main

*.o
*.bak
*.lock
*.bin
*.ods

# Latex
*.aux
*.bcf
*.log
*.out
*.run.xml
*.toc
*.xmpdata
*.xmpi

