global
	maxconn 2048
	user haproxy
	group haproxy

defaults
	mode http
	timeout connect 10s
	timeout client 10s
	timeout server 10s

frontend www
	bind :80

	# Rate limit based on the combination of IP address and username
	http-request set-var(txn.ip) src
	http-request set-var(txn.key) req.body,json_query('$.username'),concat(,,_),concat(,txn.ip)

	stick-table  type string  len 128  size 1m  expire 60s  store http_req_rate(60s)
	http-request track-sc0 var(txn.key)
	http-request deny  deny_status 429  if { sc_http_req_rate(0) gt 5 }

	# Send txn.key back for debug purposes
	http-response add-header X-Username %[var(txn.key)]

	default_backend api

backend api
	server s1 api-v1:8080

# --sysctl net.ipv4.ip_unprivileged_port_start=0
