global
	maxconn 100
	user haproxy
	group haproxy

defaults
	mode http
	timeout connect 10s
	timeout client 10s
	timeout server 10s

frontend www
	bind :80

	# Limited authorization - copied from https://www.haproxy.com/blog/verify-oauth-jwt-tokens-with-haproxy
	http-request deny content-type 'text/html' string 'Missing Authorization HTTP header' unless { req.hdr(authorization) -m found }

	# VULN 1: Accessing key "alg" in the JWT header freezes HAProxy for ~1s
	# when it contains extremely large numbers (1e10000000000000000)
	http-request set-var(txn.alg) http_auth_bearer,jwt_header_query('$.alg')

	# Skipping rest of the authorization as it's not important for the PoC

	# Rate limit based on the combination of IP address and username
	http-request set-var(txn.ip) src

	# VULN 2: HAProxy and almost every other server parses the value under key "username" differently.
	# This can be used to bypass this rate limiting implementation
	http-request set-var(txn.key) req.body,json_query('$.username'),concat(,,_),concat(,txn.ip)

	stick-table  type string  len 128  size 1m  expire 60s  store http_req_rate(60s)
	http-request track-sc0 var(txn.key)
	http-request deny  deny_status 429  if { sc_http_req_rate(0) gt 5 }

	# Send txn.key back for debug purposes
	http-response add-header X-Username %[var(txn.key)]

	default_backend api

backend api
	server s1 api-v1:8080
